.navbar-brand {
    color: #ba1200;
}

.nav-link{
    color: white;
}

#lowest-index-bg{
    background-color: #031927;
    z-index: -1;
}

/*
#navbar{
    decide later
}
*/

#output-container {
    width: 70%; /* Adjust width inside the container */
    height: 80vh;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 10vw;
    margin: auto;
    margin-top: 2vh;
}

.output-box {
    background-color: #124262; /* Dark background for contrast */
    color: white; /* Light blue text */
    width: 90%; /* Fill the entire container width */
    height: 90%; /* Fill the entire container height */
    padding: 20px; /* Internal spacing */
    border-radius: 20px; /* Rounded corners */
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
    font-size: 20px; /* Adjust text size */
    text-align: left; /* Align text to the left */
    display: flex;
    flex-direction: column;
    border: 2px solid black; /* Ensures the border fully covers the box */
    box-sizing: border-box; /* Ensures padding doesn't shrink the border */
}

#Save-button{

}

#Reset-button{

}

#Edit-button{

}