.navbar-brand {
    color: cadetblue;
}

.nav-item{
    color: #eeebd0;
}

#lowest-index-bg{
    background-color: #e86252;
    
}

#output-container{
    background-color: #ebb3a9;
}
/*
#navbar{
    decide later
}
*/